<link rel="stylesheet" href="./components/Sidebar/sidebar.css" />

<aside class="sidebar">
    <nav class="breadcrumb">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a href="#" class="breadcrumb__link">Clothing</a>
        </li>
        <li class="breadcrumb__item">
          <a href="#" class="breadcrumb__link">Women’s</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current">
          <span class="breadcrumb__text">Outerwear</span>
        </li>
      </ul>
    </nav>
    <div class="filter">
      <h2 class="filter__title">Filters</h2>
      <h2 class="filter__subtitle">Categories</h2>
      <div class="filter__categories">
        <input type="checkbox" id="jewelery" name="category" value="jewelery" class="filter__checkbox" />
        <label for="jewellery" class="filter__label">Jewellery</label>
      </div>
      <div class="filter__categories">
        <input type="checkbox" id="electronics" name="category" value="electronics" class="filter__checkbox" />
        <label for="electronics" class="filter__label">Electronics</label>
      </div>
      <div class="filter__categories">
        <input type="checkbox" id="men" name="category" value="men's clothing" class="filter__checkbox" />
        <label for="mens" class="filter__label">Men's Clothing</label>
      </div>
      <div class="filter__categories">
        <input type="checkbox" id="women" name="category" value="women's clothing" class="filter__checkbox" />
        <label for="women" class="filter__label">Women's Clothing</label>
      </div>
    </div>
   
  </aside>